{% extends 'stock/base.html' %}

{% block menu %}
    <h1>Menu</h1>
        {% if food_saucers %}
            {% for saucer in food_saucers %}
                <div class="row">
                    <div class="col col-md-6">
                        <p><strong>{{ saucer.name }}</strong></p>
                        <p><span>{{ saucer.description }}</span><a href="#"> Ordenar </a></p>
                    </div>
                    <div class="col col-md-4">
                    <p><img src="{{ saucer.image.url }}" height="200"/></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Have no dishes yet!</p>
        {% endif %}
{% endblock %}