
    <h3>Receta</h3>
    <div class="form-group">
        <p><label>Platillo: </label>
        <select name="dish" class="form-control">
            {% for dish in dishes %}
            <option value="{{ dish.name }}">{{ dish.name }}</option>
            {% endfor %}
        </select>
        </p>
    </div>
    <div>
        <p>
            <label class="form-check-label">Ingredientes: </label>
        </p>
    </div>
    {% for ingredient in ingredients %}
        <div class="form-group row">
            <div class="col col-sm-4">
                <div class="form-check">
                    <p>
                        <label for="{{ ingredient.name }}" class="form-check-label">
                            <input type="checkbox" id="{{ ingredient.name }}"
                                   class="form-check-input" value="{{ ingredient.pk }}"/>
                            {{ ingredient.name }}
                        </label>
                    </p>
                </div>
            </div>
            <div class="col-sm-2">
                <input type="number" class="form-control form-control-sm"/>
            </div>
        </div>
    {% endfor %}